ClienteWS/src/META-INF/wsdl/localhost_8080/AdministracioPersistemciaJPAWS/AdministracioPersistemciaJPAWS.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://ws/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://ws/" name="AdministracioPersistemciaJPAWS">
<types>
<xsd:schema>
<xsd:import namespace="http://ws/" schemaLocation="http://localhost:8080/AdministracioPersistemciaJPAWS/AdministracioPersistemciaJPAWS?xsd=1"/>
</xsd:schema>
</types>
<message name="crearOrden">
<part name="parameters" element="tns:crearOrden"/>
</message>
<message name="crearOrdenResponse">
<part name="parameters" element="tns:crearOrdenResponse"/>
</message>
<message name="crearBitacora">
<part name="parameters" element="tns:crearBitacora"/>
</message>
<message name="crearBitacoraResponse">
<part name="parameters" element="tns:crearBitacoraResponse"/>
</message>
<message name="consultarProductos">
<part name="parameters" element="tns:consultarProductos"/>
</message>
<message name="consultarProductosResponse">
<part name="parameters" element="tns:consultarProductosResponse"/>
</message>
<message name="crearInformacionFactura">
<part name="parameters" element="tns:crearInformacionFactura"/>
</message>
<message name="crearInformacionFacturaResponse">
<part name="parameters" element="tns:crearInformacionFacturaResponse"/>
</message>
<message name="cosultarComprador">
<part name="parameters" element="tns:cosultarComprador"/>
</message>
<message name="cosultarCompradorResponse">
<part name="parameters" element="tns:cosultarCompradorResponse"/>
</message>
<message name="consultarCompradores">
<part name="parameters" element="tns:consultarCompradores"/>
</message>
<message name="consultarCompradoresResponse">
<part name="parameters" element="tns:consultarCompradoresResponse"/>
</message>
<message name="consultarCompradores_1">
<part name="parameters" element="tns:consultarCompradores_1"/>
</message>
<message name="consultarCompradores_1Response">
<part name="parameters" element="tns:consultarCompradores_1Response"/>
</message>
<message name="modificarProductos">
<part name="parameters" element="tns:modificarProductos"/>
</message>
<message name="consultarProducto">
<part name="parameters" element="tns:consultarProducto"/>
</message>
<message name="consultarProductoResponse">
<part name="parameters" element="tns:consultarProductoResponse"/>
</message>
<message name="crearInformacionEnvio">
<part name="parameters" element="tns:crearInformacionEnvio"/>
</message>
<message name="crearInformacionEnvioResponse">
<part name="parameters" element="tns:crearInformacionEnvioResponse"/>
</message>
<portType name="AdministracioPersistemciaJPAWS">
<operation name="crearOrden">
<input wsam:Action="http://ws/AdministracioPersistemciaJPAWS/crearOrdenRequest" message="tns:crearOrden"/>
<output wsam:Action="http://ws/AdministracioPersistemciaJPAWS/crearOrdenResponse" message="tns:crearOrdenResponse"/>
</operation>
<operation name="crearBitacora">
<input wsam:Action="http://ws/AdministracioPersistemciaJPAWS/crearBitacoraRequest" message="tns:crearBitacora"/>
<output wsam:Action="http://ws/AdministracioPersistemciaJPAWS/crearBitacoraResponse" message="tns:crearBitacoraResponse"/>
</operation>
<operation name="consultarProductos">
<input wsam:Action="http://ws/AdministracioPersistemciaJPAWS/consultarProductosRequest" message="tns:consultarProductos"/>
<output wsam:Action="http://ws/AdministracioPersistemciaJPAWS/consultarProductosResponse" message="tns:consultarProductosResponse"/>
</operation>
<operation name="crearInformacionFactura">
<input wsam:Action="http://ws/AdministracioPersistemciaJPAWS/crearInformacionFacturaRequest" message="tns:crearInformacionFactura"/>
<output wsam:Action="http://ws/AdministracioPersistemciaJPAWS/crearInformacionFacturaResponse" message="tns:crearInformacionFacturaResponse"/>
</operation>
<operation name="cosultarComprador">
<input wsam:Action="http://ws/AdministracioPersistemciaJPAWS/cosultarCompradorRequest" message="tns:cosultarComprador"/>
<output wsam:Action="http://ws/AdministracioPersistemciaJPAWS/cosultarCompradorResponse" message="tns:cosultarCompradorResponse"/>
</operation>
<operation name="consultarCompradores">
<input wsam:Action="http://ws/AdministracioPersistemciaJPAWS/consultarCompradoresRequest" message="tns:consultarCompradores"/>
<output wsam:Action="http://ws/AdministracioPersistemciaJPAWS/consultarCompradoresResponse" message="tns:consultarCompradoresResponse"/>
</operation>
<operation name="consultarCompradores_1">
<input wsam:Action="http://ws/AdministracioPersistemciaJPAWS/consultarCompradores_1Request" message="tns:consultarCompradores_1"/>
<output wsam:Action="http://ws/AdministracioPersistemciaJPAWS/consultarCompradores_1Response" message="tns:consultarCompradores_1Response"/>
</operation>
<operation name="modificarProductos">
<input wsam:Action="http://ws/AdministracioPersistemciaJPAWS/modificarProductos" message="tns:modificarProductos"/>
</operation>
<operation name="consultarProducto">
<input wsam:Action="http://ws/AdministracioPersistemciaJPAWS/consultarProductoRequest" message="tns:consultarProducto"/>
<output wsam:Action="http://ws/AdministracioPersistemciaJPAWS/consultarProductoResponse" message="tns:consultarProductoResponse"/>
</operation>
<operation name="crearInformacionEnvio">
<input wsam:Action="http://ws/AdministracioPersistemciaJPAWS/crearInformacionEnvioRequest" message="tns:crearInformacionEnvio"/>
<output wsam:Action="http://ws/AdministracioPersistemciaJPAWS/crearInformacionEnvioResponse" message="tns:crearInformacionEnvioResponse"/>
</operation>
</portType>
<binding name="AdministracioPersistemciaJPAWSPortBinding" type="tns:AdministracioPersistemciaJPAWS">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="crearOrden">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="crearBitacora">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="consultarProductos">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="crearInformacionFactura">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="cosultarComprador">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="consultarCompradores">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="consultarCompradores_1">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="modificarProductos">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
</operation>
<operation name="consultarProducto">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="crearInformacionEnvio">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="AdministracioPersistemciaJPAWS">
<port name="AdministracioPersistemciaJPAWSPort" binding="tns:AdministracioPersistemciaJPAWSPortBinding">
<soap:address location="http://localhost:8080/AdministracioPersistemciaJPAWS/AdministracioPersistemciaJPAWS"/>
</port>
</service>
</definitions>